<!DOCTYPE html>
<html lang="en">

<head>

    <title>Category Manager</title>
    <%- include("layouts/header.ejs") %>
</head>

<body>
    <main class="container">
        
    </main>
    <%- include("layouts/b5script.ejs") %>
</body>

</html>