<!DOCTYPE html>
<html lang="en">

<head>
    <%- include("layouts/header.ejs") %>
    <title>User Manager</title>
</head>

<body>
<h1>User Manager</h1>
<!-- script -->
<%- include("layouts/b5script.ejs") %>
</body>

</html>