<!DOCTYPE html>
<html lang="en">

<head>
    <%- include("layouts/header.ejs") %>
    <title>Create new transaction</title>
</head>

<body>
    <form action="/transaction/create" method="post">
        
    </form>
    <%- include("layouts/b5script.ejs") %>
</body>

</html>