<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
<h3>BẠN ĐÃ UPDATE THÀNH CÔNG</h3>
</br>


<p>
    FullName: <%= profile.fullname %>
</p>
<p>
    Address: <%= profile.address %>
</p>
<p>
    Email: <%= profile.email %>
</p>
<p>
    Phone: <%= profile.phone %>
</p>

<a href="/profiles/list">Back to home</a>

</body>
</html>